<div class="card">
    <div class="card-content">
        <div class="msg-header">
            <span class="msg-from"><small>{{ location.id }}</small></span>
            <span class="msg-timestamp"></span>
            <span class="msg-attachment"><fa-icon [icon]="faPaperclip"></fa-icon></span>
        </div>
        <div class="msg-subject">
            <span class="msg-subject"><strong id="fake-subject-1">{{ location.name }}</strong></span>
        </div>
        <div class="msg-snippet">
            <p id="fake-snippet-1">{{ location.rumors }}</p>
        </div>
    </div>
</div>