<div class="column is-6 message hero is-fullheight" id="message-pane">
    <div class="action-buttons">
        <div class="control is-grouped">
            <a class="button is-small">
                <fa-icon [icon]="faInbox"></fa-icon>
            </a>
            <a class="button is-small">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
            </a>
            <a class="button is-small">
                <fa-icon [icon]="faTrash"></fa-icon>
            </a>
        </div>
        <div class="control is-grouped">
            <a class="button is-small">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
            </a>
            <a class="button is-small">
                <fa-icon [icon]="faTrash"></fa-icon>
            </a>
        </div>
        <div class="control is-grouped">
            <a class="button is-small">
                <fa-icon [icon]="faFolder"></fa-icon>
            </a>
            <a class="button is-small">
                <fa-icon [icon]="faTag"></fa-icon>
            </a>
        </div>
    </div>
    <div *ngIf="location" class="box message-preview">
        <div class="top">
            <div class="avatar">
                <img src="https://placehold.it/128x128">
            </div>
            <div class="address">
                <div class="name">{{ location.name }}</div>
                <div class="email">{{ location.id }}</div>
            </div>
            <hr>
            <div class="content">
                <p>{{ location.rumors }}</p>
            </div>
        </div>
    </div>
</div>