<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <app-player-banner></app-player-banner>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <app-team-banner></app-team-banner>
                </div>
            </div>
        </div>
    </div>
</section>