<section class="section">
    <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <app-player-banner></app-player-banner>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <app-team-banner></app-team-banner>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-parent is-3">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <app-locations></app-locations>
                    </div>
                </div>
            </div>
            <div class="tile is-parent is-9">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <app-location-details></app-location-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>