<div class="tile is-child">
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <p class="title" data-tooltip="This is your team.">
                    <fa-icon [icon]="faUserFriends"></fa-icon>&nbsp;<strong>The Exiled</strong>
                </p>
            </div>
        </div>

        <div class="level-center">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading" data-tooltip="Your team influence points is used to solve challenging events. All players in the same team share the same influence points.">Influence points</p>
                    <p class="subtitle" data-tooltip="Capital city: +2 / hour => Total: +2 / hour">14 (+2 / hour)</p>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <div class="level-item has-text-centered">
                <div class="notification is-warning" data-tooltip="+2 IP / hour">
                    Capital city
                </div>
            </div>
        </div>
    </nav>
</div>