<div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>Adventurers at location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eskald</td>
                <td>
                    <div class="notification is-warning" data-tooltip="When you're healty, you're fine. If this tag disappear, this mean you are one step closer to dying.">
                        Healthy
                    </div>
                    <div class="notification is-warning" data-tooltip="+2 AP / hour">
                        Adventurer
                    </div>
                </td>
            </tr>
            <tr>
                <td>Malky</td>
                <td>
                    <div class="notification is-warning" data-tooltip="When you're healty, you're fine. If this tag disappear, this mean you are one step closer to dying.">
                        Healthy
                    </div>
                    <div class="notification is-warning " data-tooltip="+2 AP / hour">
                        Adventurer
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>