<div class="content">
    <div>Location messages</div>
    <table class="table is-fullwidth is-striped">
        <tbody>
            <tr>
                <td class="level-left">Eskald</td>
                <td>Hello, how is it going ?</td>
            </tr>
            <tr>
                <td class="level-left">Malky</td>
                <td>Fine and you ?</td>
            </tr>
            <tr>
                <td class="level-left">Eskald</td>
                <td>Fine, thanks!</td>
            </tr>
        </tbody>
    </table>
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="Compose a message">
        </div>
        <div class="control">
            <a class="button is-info">
            Send
          </a>
        </div>
    </div>
</div>